.projects-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.projects-title button {
  background: none;
  border: none;
  color: $accent-main;
  transition: all 200ms ease-in-out;
}

.projects-title button:hover {
  color: $accent-hover;
  rotate: 12deg;
  cursor: pointer;
}

.radio div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.radio div label {
  margin-right: 10px;
}

.radio div input {
  margin-right: 10px;
}



