.project-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px;
  margin: 10px;
  align-items: center;
  background-color: $accent-background;

  height: 140px;
}

.project-box-info {
  display: block;
  width: 100%;
  margin-left: 20px;
}

.project-box-actions {
  margin: 10px;
}

.project-box-actions button {
  width: 100%;
  font-family: 'Segoe UI', Arial, monospace;
  background-color: $accent-main;
  color: white;
  transition: all 0.2s ease-in-out;
}


.project-box-actions button:hover {
  background-color: $accent-hover;
  color: white;
  transform: translateX(-10px);
}

.project-box-actions button:active {
  background-color: $accent-main;
  color: white;
}