$background-main: #242829;
$background-tint: #2d3233;
$background-shade: #1d2021;

$text-dark: #252525;
$text-light: #e0e0e0;

$accent-main: #63B995;
$accent-background: #13151b;
$accent-hover: #92ceb5;


body {
  font-family: 'Fira Sans', sans-serif;
  background-color: $background-shade;
  color: #FFF8F0;

  margin: 0;
  padding: 0;

}


@import "./App.scss";
@import "./components/ProjectBox.scss";
@import "./header/header.scss";
@import "./components/forms/Forms.scss";


