@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

@font-face {
  font-family: "Light";
  /*Can be any text*/
  src: local("DroidSans"),
    url("./fonts/DroidSans.ttf") format("truetype");
}



body {
  font-family: 'Quicksand', sans-serif;
  background-color: #0C0910;
  color: #FFF8F0;

  margin: 0;
  padding: 0;

}