.text-input {
  background-color: $background-tint;
  border: 1px solid $accent-main;
  border-radius: 5px;
  color: $text-light;
  font-size: 1.2rem;
  padding: 10px;

  display: flex;
  flex-direction: column;
}


.text-input input {
  border-radius: 5px;
  background-color: $background-main;
  border: 1px solid $accent-main;
  color: $text-light;
  font-size: 1.2rem;
  padding: 10px;
}


.text-input input:focus {
  outline: none;
  border: 1px solid $accent-hover;
}


.file-input {
  background-color: $background-tint;
  border: 1px solid $accent-main;
  border-radius: 5px;
  color: $text-light;
  font-size: 1.2rem;
  padding: 10px;
}

.file-input p {
  margin: 1px;
  padding: 5px;
}


.file-input button {
  background-color: $background-tint;
  border: 1px solid $accent-main;
  color: $accent-main;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 10px;
  margin: 0;
  margin-left: 5px;
}

.file-input button:hover {
  background-color: $accent-background;
  border: 1px solid $accent-hover;
  color: $accent-hover;
  cursor: pointer;
}

.inner-file-input {
  display: flex;
  flex-direction: row;
  padding: 5px;

  align-items: center;
  background-color: $background-main;
  border-radius: 5px;
}

.submit {
  background-color: $accent-main;
  border: 1px solid $accent-main;
  color: $accent-background;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 10px;
  margin: 0;
  margin-left: 5px;

  transition: all 0.2s ease-in-out;
}

.submit:hover {
  background-color: $accent-hover;
  border: 1px solid $accent-hover;
  color: $accent-background;
  cursor: pointer;
}

.submit:active {
  background-color: $accent-main;
  border: 1px solid $accent-main;
  color: $accent-background;
  cursor: pointer;
}