.text-input {
  background-color: $background-tint;
  border: 1px solid $accent-main;
  border-radius: 5px;
  color: $text-light;
  font-size: 1.2rem;
  padding: 10px;

  display: flex;
  flex-direction: column;
}


.text-input input {
  border-radius: 5px;
  background-color: $background-main;
  border: 1px solid $accent-main;
  color: $text-light;
  font-size: 1.2rem;
  padding: 10px;
}


.text-input input:focus {
  outline: none;
  border: 1px solid $accent-hover;
}